/* Style the button that is used to open and close the collapsible content */
.collapsible {
    margin-top: 1rem;
    background-color: rgb(63, 124, 236);
    color: rgb(255, 255, 255);
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible:hover  {
    background-color: rgb(124, 191, 236);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    padding-top: 1rem;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .outerCollapsible button {
      color: teal;
  }